@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-accent: #8b5cf6;
}

body {
  @apply bg-background text-white;
}
